{% extends 'base.html' %}

{% block content %}
<h1>Lista de Alunos</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Turma</th>
        </tr>
    </thead>
    <tbody>
        {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.curso }}</td>
            <td>{{ aluno.turma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
